asgiref==3.4.1; python_version >= "3.6"
click==8.0.1; python_version >= "3.6"
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.6" and python_full_version >= "3.5.0"
fastapi==0.68.1; python_version >= "3.6"
glib==1.0.0
h11==0.12.0; python_version >= "3.6"
helm==0.4
pydantic==1.8.2; python_full_version >= "3.6.1" and python_version >= "3.6"
pyqt5-qt5==5.15.2; python_version >= "3.6"
pyqt5-sip==12.9.0; python_version >= "3.6"
pyqt5==5.15.4; python_version >= "3.6"
starlette==0.14.2; python_version >= "3.6"
typing-extensions==3.10.0.0; python_full_version >= "3.6.1" and python_version >= "3.6"
uvicorn==0.15.0
